ikhjlkn yug tg ydbijgnkgb<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:androi             <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

</manifest>